body{
    color: white;
}

#jumbotron img{
    width: 250px;
    height: 250px;
}

.my_container{
    max-width: 1000px;
    margin: 0 auto;
}

.my_white-line{
    height: .25rem;
    width: 15%;
    background-color: white;
    border-radius: 25px;
    margin: 0 1rem;
}

.my_black-line{
    height: .25rem;
    width: 15%;
    background-color: black;
    border-radius: 25px;
    margin: 0 1rem;
}

.my_font-dark-green{
    color: #1ABC9C;
}

.my_button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.my_contact{
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 .5rem;
    padding: 1rem;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


            /* Bg-color */
.my_bg-dark-grey{
    background-color: #2C3E50;
}

.my_bg-dark-blue{
    background-color: #3A546D;
}

.my_bg-dark-green{
    background-color: #1ABC9C;
}